@import '../../../../styles/variables';

.loading {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  span {
    animation: bounce 1s infinite;
    color: $primary-blue;
    font-size: 100px;
  }
}
